/* General CSS */

.text {
  font-family: 'Playfair Display', serif;
  position: absolute;
  color: white;
  margin: 2em;
  font-weight: 300;
  /*  font-weight: 300;
  font-size: calc( 32px + (54 - 32) * (100vw - 320px) / ( 840 - 320) );
  line-height: 1.4em;
  margin: calc(50vh - 1.5em) auto;
  color: var(--white);
  cursor: default;
  user-select: none;*/
}

.chart {
  bottom: 5%;
  right: inherit;
}

h2 {
  font-family: 'Roboto';
  font-size: 100%;
  line-height: 100%;
  color: black;
}

/* select arc
.arc-path:hover {
  fill:orange
}
*/

.click_arc {
  font-family: 'Playfair Display', serif;
  color: white;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 100%, transparent 100%);
  padding: 15px 15px 15px 15px;
  margin: 2em;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  transition: color 250ms linear;
}

.click_day {
  font-family: 'Playfair Display', serif;
  color: white;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(255, 255, 255, 0.25) 100%, transparent 100%);
  padding: 15px 15px 15px 15px;
  margin: 2em;
  -webkit-transition: color 250ms linear;
  -moz-transition: color 250ms linear;
  -ms-transition: color 250ms linear;
  -o-transition: color 250ms linear;
  transition: color 250ms linear;
}

#map-canvas {
  top: 1%;
    width: 500px;
    height: 300px;
}


/* Aanpassen van het Google Maps iframe */
.gm-fullscreen-control{
opacity:1;
}

.gm-style-mtc{
opacity: 0;
}

.gmnoprint{
  opacity: 0;
}

.gm-style-cc{
opacity: 0;
}
