/* General CSS */

h1 {
  font-family: 'Playfair Display', serif;
  position: center;
  width: 100%;
  color: white;
  margin: 2em;
}

h2 {
  font-family: 'Roboto';
  font-size: 100%;
  line-height: 100%;
  color: black;
}

/* select arc
.arc-path:hover {
  fill:orange
}
*/


.value {
    border-radius: 4px;
    text-align: center;
    background: yellow;
    padding: 15px 15px 15px 15px;
    margin: 2em;
    -webkit-transition: color 250ms linear;
    -moz-transition: color 250ms linear;
    -ms-transition: color 250ms linear;
    -o-transition: color 250ms linear;
    transition: color 250ms linear;
}
