/* General CSS */

.h1 {
  display: block;
  font-family: 'Montserrat';
  color: #2D4059;
  position: center;
  font-size: 3em;
  font-weight: bold;
  margin: 2em;
}


.text {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  margin: 2em;
  position: center;
  font-weight: 300;
  font-size: 0.9em;
  line-height: 1.4em;
  margin-left: 6em;
  width: 20%;
}

#twelfpm{
  font-family: 'Open Sans', serif;
  color: #2D4059;
  font-size: 0.7em;
  position: absolute;
  top: -3%;
  right: 26%;
}

#sixpm{
  font-family: 'Open Sans', serif;
  color: #2D4059;
  font-size: 0.7em;
  position: absolute;
  top: 42%;
  right: 3%;
}

#sixam{
  font-family: 'Open Sans', serif;
  color: #2D4059;
  font-size: 0.7em;
  position: absolute;
  top: 42%;
  left: 40%;
}

.credits {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  float: right;
  vertical-align: middle;
  /* z-index: -4; */
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  font-weight: 200;
  font-size: 0.8em;
  width: 14%;
  transform: rotate(-90deg);
  margin-top: -19%;
  margin-right: -6em;
  /* margin-bottom: relative; */

}

.chart {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 5%;
  /* right: 5%; */
  /* right: inherit; */
  position: center;
  /* margin-left: 40%; */
    pointer-events: all;
  /* transform-origin: center; */
  /* background-color: rgba(216, 216, 216, 0.25); */
}

#legend {
  position: fixed;
  max-width: 50%;
  min-width: 40%;
  height: auto;
  bottom: -2%;
  margin-left: 4.5em;
  z-index: -5;
  right: 0%;
}

/* Code for hover data */
.day {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.hours {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.distance {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.elevation {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.sunhours {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.temperature {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.rainfall {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}

.windspeed {
  font-family: 'Open Sans', serif;
  color: #2D4059;
  border-radius: 0px;
  text-align: center;
  background: linear-gradient(to right, rgba(216, 216, 216, 0.25) 100%, transparent 100%);
  padding: 5px 5px 5px 5px;
  margin: 5px;
}


#map-canvas {
    position: fixed;
    bottom:0;
    width: 20%;
    height: 150px;
    margin-left: 5.5em;
}

/* Aanpassen van het Google Maps iframe */
.gm-fullscreen-control{
opacity:1;
}

.gm-style-mtc{
opacity: 0;
}

.gmnoprint{
  opacity: 0;
}

.gm-style-cc{
opacity: 0;
}





/* CSS Mobile */
@media screen and (max-width: 800px){
  #twelfpm{
    visibility: hidden;
  }

  #sixpm{
    visibility: hidden;
  }

  #sixam{
  visibility: hidden;
  }

  .text {
    display: block;
    font-family: 'Open Sans', serif;
    color: #2D4059;
    margin: 2em;
    position: fixed;
    font-weight: 300;
    font-size: 0.9em;
    line-height: 1.4em;
    margin-left: 2em;
    width: 80%;
    text-align: center;
  }

  .chart {
    position: fixed;
    align-content: center;
    top:0%;
  }

  #legend {
    position: fixed;
    right: inherit;
    position: center;
    max-size: 50%;
    min-size: 40%;
    height: auto;
    bottom: -2%;
    margin-left: 4.5em;
    z-index: -5;
    display: none;
  }

  #map-canvas {
      position: fixed;
      bottom:0;
      width: 80%;
      height: 150px;
      margin-left: 2em;
      display: none;

  }
.mobile{
visibility: visible;
}
.desktop{
  visibility: hidden;
  display: none;

}

}

@media screen and (min-width: 800px){
.mobile{
  visibility: hidden;
  display: none;
}
.desktop{
  visibility: visible;
}
}
